<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit User</title>
</head>
<body>
    <form th:action="@{/admin/}" th:method="PUT" th:object="${user}" style="text-align: center">
        <label for="id">ID</label><br>
        <input type="text" id="id" th:field="*{id}" readonly><br><br>

        <label for="firstName">First Name</label><br>
        <input type="text" id="firstName" th:field="*{firstName}"><br><br>

        <label for="lastName">Last Name</label><br>
        <input type="text" id="lastName" th:field="*{lastName}"><br><br>

        <label for="age">Age</label><br>
        <input type="text" id="age" th:field="*{age}"><br><br>

        <label for="username">Username</label><br>
        <input type="email" id="username" th:field="*{username}"><br><br>

        <label for="password">Password</label><br>
        <input type="password" id="password" th:field="*{password}"><br><br>

        <label for="roles">Roles</label><br>
        <select name="selectedRoles" id="roles" multiple>
            <option th:each="role : ${roles}" th:text="${role.name}" th:value="${role.name}" th:selected="${user.hasRole(role.name)}"></option>
        </select><br><br>

        <input type="submit" value="Update">
    </form>
    <div style="text-align: end; margin: 16px">
        <a href="/logout">Logout</a>
    </div>
</body>
</html>