<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
    <div th:object="${user}" style="text-align: center">

        <label for="firstName">First Name</label><br>
        <input type="text" id="firstName" th:field="*{firstName}" readonly><br><br>

        <label for="lastName">Last Name</label><br>
        <input type="text" id="lastName" th:field="*{lastName}" readonly><br><br>

        <label for="age">Age</label><br>
        <input type="text" id="age" th:field="*{age}" readonly><br><br>

        <label for="username">Username</label><br>
        <input type="email" id="username" th:field="*{username}" readonly><br><br>

    </div>

    <div style="text-align: end; margin: 16px">
        <a href="/logout">Logout</a>
    </div>
</body>
</html>